@media (min-width: 769px) {
  
  .nav {
    max-height: none;
    position: relative;
    top: 0;
    float: right;
    width: fit-content;
  }

  .menu {
    flex-direction: row;
  }

  .menu a {
    font-size: 1.1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .hamb {
    display: none;
  }
}

@media (min-width:486px) {
  .about-container h1 {
    display: flex;
  }

  .about-container h1 span {
    display: inline-flex;
    align-items: center;
    padding-left: .5rem;
  }
}