@media (min-width: 769px) {
  
  .nav {
    max-height: none;
    position: relative;
    top: 0;
    float: right;
    width: fit-content;
  }

  .menu {
    flex-direction: row;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--gray);
  }

  .hamb {
    display: none;
  }
}