/* Mobile first */



/* Poppins Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Variables */
:root {
  --red: #be3144;
  --black: #36383F;
  --darkBlue: #242943;
  --white: #f9f9f9;
  --darkerBlue: #45567d;
  --neonGreen: #00FFCD;
}

/* reset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

/* Element styling */
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-color: var(--red);
  box-shadow: 1px 1px 5px black;
  position: sticky;
  top: 0;
  width: 100%;
}

/* Logo */

.logo {
  display: inline-block;
  color: var(--white);
  font-size: 3.75rem;
  margin-left: 10px;
}

/* Nav menu */

.nav {
  width: 100%;
  background-color: var(--red);
  overflow: hidden;

}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu a {
  display: block;
  padding: 30px;
  color: var(--white);
}

.menu a:hover {
  color: var(--darkBlue);
  transition: 300ms;
}

/* Close menu */
.nav {
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before, .hamb-line::after {
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 200ms ease-in;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* About section */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22.5rem 1rem;
  background-color: var(--black);
}

.about-container h1 {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.about-container h1 span {
  font-size: 3rem;
}

.about-container h2 {
  color: var(--red);
  font-weight: 400;
}

/* Projects section */

#projects-section {
  background-color: var(--darkerBlue);
  padding: 10rem 2rem;
  text-align: center;
}

.projects-heading-title {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 10rem;
  border-bottom: .2rem solid var(--white);
}

.projects-container {
  width: 100%;
  display: grid;
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  background-color: var(--darkerBlue);
}

.project {
  background-color: var(--black);
  box-shadow: 1px 1px 2px black;
}

.thumbnail {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.thumbnail:hover {
  opacity: 55%;
  transition: 1000ms;
}

.project p {
  color: var(--white);
  font-size: 2rem;
  padding: 2rem .5rem;
  text-align: center;
}

.project p:hover {
  color: var(--neonGreen);
  transition: 1000ms;
}

.see-more-link  {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: .2rem;
}

.see-more-link:hover {
  background-color: var(--red);
  transition: 500ms;
}

/* connect section */

#contacts-section {
  background-color: var(--black);
  padding: 5rem 2rem;
  text-align: center;
  width: 100%;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-heading {
  color: var(--white);
  font-size: 2rem;
}

.social-media {
  margin-top: 2.5rem;
  width: 100%;
}

.social-media a {
  color: var(--white);
  font-size: 1.5rem;
  padding-inline: .6rem;
}

.social-media a:hover {
  color: aquamarine;
  transition: 300ms;
}

