* {
  border: 1px solid gray;
}

:root {
  --navBG: #be3144;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navBG);
}

.nav-links {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.nav-links > li {
  font-size: 1.5rem;
}

.nav-links > li > a {
  text-decoration: none;
  color: white;
}

.nav-links > li > a:hover {
  color: black;
}

.profile-img {
  width: 5%;
  border-radius: 50%;
}